.about
    &__title
        &--text
            text-align: center
            margin: 50px
            font-family: montserratB, sans-serif
            font-weight: 900
            font-size: 250px
            color: #202020
            text-transform: uppercase
            text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2)
    &__block
        margin: 0 auto
        border: solid #F0BB00
        &--text
            color: #f0bb00
            max-width: 900px
            font-size: 18px
            text-align: center
            padding: 4rem 4rem
            margin: 0 auto
            letter-spacing: 5px
            line-height: 1.5
            font-family: montserratB, sans-serif